In [1]:
#Import Libraries
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
def cleanData(person_df, household_df, post2018 = True):
    person_df = person_df
    household_df = household_df
    pFeatures = ["SERIALNO", "SPORDER", "PUMA", "PWGTP", "AGEP", "CIT", "COW", "ENG", "FER", "JWMNP"
               , "MAR", "MIL", "SCH", "SCHL", "SEX", "PAP", "INTP", "SSIP", "SSP", "WAGP"
               , "OIP", "RETP", "SEMP", "PERNP", "PINCP", "WKL", "DIS", "ESR", "HICOV", "HISP"
               , "PAOC", "POVPIP", "RAC1P", "RACASN", "RACBLK", "RACWHT", "RACSOR", "SCIENGP", "WKHP"
               , "SOCP"]
    if post2018:
        pFeatures = pFeatures + ["RELSHIPP", "JWTRNS", "WKWN"]
    else:
        pFeatures = pFeatures + ["RELP", "JWTR", "WKW"]
    hFeatures = ["SERIALNO", "PUMA", "NP", "ACCESS", "ACR", "BATH", "FS", "ELEP", "FULP", "GASP", "HISPEED"
              , "LAPTOP", "RNTP", "RWATPR", "TEN", "VALP", "VEH", "WATP", "HINCP", "HUPAC", "KIT", "PLM"
              , "GRPIP", "RMSP"]
    person_df = person_df.loc[:, pFeatures].copy()
    household_df = household_df.loc[:, hFeatures].copy()
    person_df = person_df.loc[(person_df["PUMA"] > 101) & (person_df["PUMA"] <= 105)].copy()
    household_df = household_df.loc[(household_df["PUMA"] > 101) & (household_df["PUMA"] <= 105)].copy()
    person_df.loc[(person_df.RAC1P == 1) & (person_df.HISP == 1), "RACE"] = "White"
    person_df.loc[(person_df.RAC1P == 2) & (person_df.HISP == 1), "RACE"] = "African American"
    person_df.loc[(person_df.RAC1P == 6) & (person_df.HISP == 1), "RACE"] = "Asian"
    person_df.loc[(person_df.RAC1P.isin([3, 4, 5, 7, 8, 9])) & (person_df.HISP == 1), "RACE"] = "Other"
    person_df.loc[person_df.HISP != 1, "RACE"] = "Latino"
    person_df = person_df.merge(household_df, how = 'left', on = 'SERIALNO').copy()
    person_df = person_df.reindex(person_df.index.repeat(person_df.PWGTP)).reset_index(drop=True).drop(['PWGTP', 'PUMA_y'], axis=1).rename(columns={"PUMA_x": "PUMA"}).copy()
    return person_df

def getSize(df, showDim = False, name = ""):
    if name != "":
        name = name + " "
    if showDim:
        print("Dimensions for the " + name + "dataset: " + str(df.shape))
    print("New DataFrame size: " + str(int(df.memory_usage(index=True).sum()/1000000)) + " MB")

In [4]:
pca191 = pd.read_csv("./Data/PUMS/2019pCA1.csv")
hca191 = pd.read_csv("./Data/PUMS/2019hCA1.csv")
pca191_Ok = cleanData(pca191, hca191)
del pca191, hca191

pca181 = pd.read_csv("./Data/PUMS/2018pCA1.csv")
hca181 = pd.read_csv("./Data/PUMS/2018hCA1.csv")
pca181_Ok = cleanData(pca181, hca181, False)
del pca181, hca181

pca161 = pd.read_csv("./Data//PUMS/2016pCA1.csv")
hca161 = pd.read_csv("./Data/PUMS/2016hCA1.csv")
pca161_Ok = cleanData(pca161, hca161, False)
del pca161, hca161

# Indicators

## Indicator 1

In [19]:
def ind1(df):
    numerator = df.loc[df["COW"] == 7, ["RACE"]].groupby("RACE")['RACE'].count() ## .Self-employed in own incorporated business
    numerator = numerator.append(pd.Series(numerator.sum(), ['Oakland']))
    denominator = df.loc[(pca191_Ok["COW"] !=9) & (df["COW"].notna()), ["RACE"]].groupby("RACE")['RACE'].count() # not include
    # >>> 9=unemployed and NA = who aged below 16
    denominator = denominator.append(pd.Series(denominator.sum(), ["Oakland"]))
    ind1_cal = (numerator/denominator)
    table = pd.DataFrame(ind1_cal, columns = ["ind1"])
    return table

In [21]:
display(ind1(pca181_Ok))
display(ind1(pca191_Ok))

                      ind1
African American  0.031427
Asian             0.026145
Latino            0.013882
Other             0.051349
White             0.038705
Oakland           0.030133

                      ind1
African American  0.012638
Asian             0.016906
Latino            0.032385
Other             0.021311
White             0.032185
Oakland           0.025139

## Indicator 4

In [28]:
def ind4(df):
    filter_df = df.loc[(df['AGEP'] >= 16) & (df['AGEP'] < 25)]
    index_1 = (filter_df['ESR']==3) | (filter_df['ESR']==6) ## Unemployed
    index_2 = (filter_df['SCH']==1) ## not attended school
    numerator =filter_df.loc[index_1 & index_2, ["RACE"]].groupby("RACE")['RACE'].count()
    numerator = numerator.append(pd.Series(numerator.sum(), ['Oakland']))
    employed_df = filter_df[(filter_df['ESR']!=3) & (['ESR']!=6)] # not include "#3 Unemployed" and "#6 Not in labor force"
    denominator = employed_df.loc[(employed_df['ESR'].notna()) & (employed_df['SCH'].notna()) , ["RACE"]].groupby("RACE")['RACE'].count()
    denominator = denominator.append(pd.Series(denominator.sum(), ["Oakland"]))
    ind4_cal= numerator/denominator*100
    table = pd.DataFrame(ind4_cal, columns = ["ind4"])
    return table

In [61]:
display(ind4(pca181_Ok))
display(ind4(pca191_Ok))

                       ind4
African American  16.519337
Asian              8.591808
Latino            13.547457
Other             10.876664
White              7.483856
Oakland           12.076101

                       ind4
African American  16.394616
Asian              4.397843
Latino             8.331920
Other              7.808564
White              6.021306
Oakland            9.480224

## Indicator 5

In [62]:
def ind5(df):
    numerator = df.loc[df["ESR"] == 6].groupby("RACE")['RACE'].count() # 6 = Not in labor force
    numerator = numerator.append(pd.Series(numerator.sum(), ['Oakland']))
    denominator = df.loc[(df["ESR"].notna())].groupby("RACE")['RACE'].count() # not including ppl who aged <16
    denominator = denominator.append(pd.Series(denominator.sum(), ["Oakland"]))
    return pd.DataFrame((numerator/denominator), columns=['ind5'])

In [63]:
display(ind5(pca181_Ok))
display(ind5(pca191_Ok))

                      ind5
African American  0.366880
Asian             0.322828
Latino            0.278825
Other             0.230472
White             0.267430
Oakland           0.298269

                      ind5
African American  0.411477
Asian             0.363419
Latino            0.269747
Other             0.237155
White             0.263162
Oakland           0.314522

### Indicator 29

In [64]:
physFitYouth = pd.read_csv("./Data/Public Health/physicalFitnessYouth.csv")

In [111]:
def ind29(df):
    df = df.copy()
    df = df.iloc[:, [2, 3, 4, 7]]
    df.columns = ['race', 'year', 'score', 'ratio']
    df.loc[:, "ratio"] = df.loc[:, 'ratio'].str.rstrip('%').astype('float')/100
    df.loc[(df.race == 'Multiple Ethnicity') | (df.race == "Native American"), ['race']] = "Other" 
    df.loc[(df.race == 'Pacific Islander') | (df.race == "Filipino"), ['race']] = "Asian"

    return df

In [112]:
ind29(physFitYouth)

                 race     year       score  ratio
0    African American  2017-18  0 out of 6  0.028
1    African American  2017-18  1 out of 6  0.076
2    African American  2017-18  2 out of 6  0.148
3    African American  2017-18  3 out of 6  0.195
4    African American  2017-18  4 out of 6  0.208
5    African American  2017-18  5 out of 6  0.186
6    African American  2017-18  6 out of 6  0.159
7    African American  2018-19  0 out of 6  0.042
8    African American  2018-19  1 out of 6  0.094
9    African American  2018-19  2 out of 6  0.151
10   African American  2018-19  3 out of 6  0.192
11   African American  2018-19  4 out of 6  0.200
12   African American  2018-19  5 out of 6  0.164
13   African American  2018-19  6 out of 6  0.156
14              Asian  2017-18  0 out of 6  0.011
15              Asian  2017-18  1 out of 6  0.032
16              Asian  2017-18  2 out of 6  0.059
17              Asian  2017-18  3 out of 6  0.109
18              Asian  2017-18  4 out of 6  0.174
19              Asian  2017-18  5 out of 6  0.273
20              Asian  2017-18  6 out of 6  0.342
21              Asian  2018-19  0 out of 6  0.012
22              Asian  2018-19  1 out of 6  0.041
23              Asian  2018-19  2 out of 6  0.070
24              Asian  2018-19  3 out of 6  0.105
25              Asian  2018-19  4 out of 6  0.205
26              Asian  2018-19  5 out of 6  0.260
27              Asian  2018-19  6 out of 6  0.307
28              Asian  2017-18  1 out of 6  0.029
29              Asian  2017-18  2 out of 6  0.103
..                ...      ...         ...    ...
107             Asian  2018-19  5 out of 6  0.227
108             Asian  2018-19  6 out of 6  0.102
109             White  2017-18  0 out of 6  0.007
110             White  2017-18  1 out of 6  0.023
111             White  2017-18  2 out of 6  0.067
112             White  2017-18  3 out of 6  0.079
113             White  2017-18  4 out of 6  0.170
114             White  2017-18  5 out of 6  0.252
115             White  2017-18  6 out of 6  0.401
116             White  2018-19  0 out of 6  0.011
117             White  2018-19  1 out of 6  0.018
118             White  2018-19  2 out of 6  0.060
119             White  2018-19  3 out of 6  0.102
120             White  2018-19  4 out of 6  0.168
121             White  2018-19  5 out of 6  0.265
122             White  2018-19  6 out of 6  0.375
123      All Students  2017-18  0 out of 6  0.019
124      All Students  2017-18  1 out of 6  0.065
125      All Students  2017-18  2 out of 6  0.124
126      All Students  2017-18  3 out of 6  0.167
127      All Students  2017-18  4 out of 6  0.201
128      All Students  2017-18  5 out of 6  0.213
129      All Students  2017-18  6 out of 6  0.211
130      All Students  2018-19  0 out of 6  0.028
131      All Students  2018-19  1 out of 6  0.076
132      All Students  2018-19  2 out of 6  0.133
133      All Students  2018-19  3 out of 6  0.164
134      All Students  2018-19  4 out of 6  0.198
135      All Students  2018-19  5 out of 6  0.201
136      All Students  2018-19  6 out of 6  0.201

[137 rows x 4 columns]

In [108]:
test = physFitYouth.iloc[:, [2, 3, 4, 7]]
test.columns = ['race', 'year', 'score', 'ratio']
test.loc[:, "ratio"] = test.loc[:, 'ratio'].str.rstrip('%').astype('float')/100
test.loc[:, ['race']] == 'Multiple Ethnicity']

SyntaxError: invalid syntax (<ipython-input-108-f66f26613f04>, line 4)

In [90]:
test.loc[:, ['Select Subgroup']]

      Select Subgroup
0    African American
1    African American
2    African American
3    African American
4    African American
5    African American
6    African American
7    African American
8    African American
9    African American
10   African American
11   African American
12   African American
13   African American
14              Asian
15              Asian
16              Asian
17              Asian
18              Asian
19              Asian
20              Asian
21              Asian
22              Asian
23              Asian
24              Asian
25              Asian
26              Asian
27              Asian
28           Filipino
29           Filipino
..                ...
107  Pacific Islander
108  Pacific Islander
109             White
110             White
111             White
112             White
113             White
114             White
115             White
116             White
117             White
118             White
119             White
120             White
121             White
122             White
123      All Students
124      All Students
125      All Students
126      All Students
127      All Students
128      All Students
129      All Students
130      All Students
131      All Students
132      All Students
133      All Students
134      All Students
135      All Students
136      All Students

[137 rows x 1 columns]

In [83]:
test.loc[test.iloc[:, 2] == 'Multiple Ethnicity']

,Select District/School,Select Grade,Select Subgroup,Academic Year,Score,Total Tested,Score.1,COUNT([Academic Year]) / TOTAL(COUNT([Academic Year])) along Score,COUNT([Academic Year]) / TOTAL(COUNT([Academic Year])) along Score.1,Count of Academic Year
55,All Schools,All Grades,Multiple Ethnicity,2017-18,0 out of 6,245,0 out of 6,0.008,0.008,2
56,All Schools,All Grades,Multiple Ethnicity,2017-18,1 out of 6,245,1 out of 6,0.045,0.045,11
57,All Schools,All Grades,Multiple Ethnicity,2017-18,2 out of 6,245,2 out of 6,0.094,0.094,23
58,All Schools,All Grades,Multiple Ethnicity,2017-18,3 out of 6,245,3 out of 6,0.114,0.114,28
59,All Schools,All Grades,Multiple Ethnicity,2017-18,4 out of 6,245,4 out of 6,0.171,0.171,42
60,All Schools,All Grades,Multiple Ethnicity,2017-18,5 out of 6,245,5 out of 6,0.265,0.265,65
61,All Schools,All Grades,Multiple Ethnicity,2017-18,6 out of 6,245,6 out of 6,0.302,0.302,74
62,All Schools,All Grades,Multiple Ethnicity,2018-19,0 out of 6,298,0 out of 6,0.013,0.013,4
63,All Schools,All Grades,Multiple Ethnicity,2018-19,1 out of 6,298,1 out of 6,0.027,0.027,8
64,All Schools,All Grades,Multiple Ethnicity,2018-19,2 out of 6,298,2 out of 6,0.121,0.121,36
65,All Schools,All Grades,Multiple Ethnicity,2018-19,3 out of 6,298,3 out of 6,0.081,0.081,24
66,All Schools,All Grades,Multiple Ethnicity,2018-19,4 out of 6,298,4 out of 6,0.161,0.161,48
67,All Schools,All Grades,Multiple Ethnicity,2018-19,5 out of 6,298,5 out of 6,0.242,0.242,72
68,All Schools,All Grades,Multiple Ethnicity,2018-19,6 out of 6,298,6 out of 6,0.356,0.356,106